<div class="smooth"></div>
<footer>
    This website has been created by
    <a href="https://simonloir.be">Simon Loir</a>. It is not an official World
    of Tanks or Wargaming website.
</footer>
<script src="<%- script -%>site.js"></script>
