<header>
    <h1>WN8Master</h1>
    <span class="menu-right">
        <input type="text" id="player-search-field" placeholder="Player name" />
        <button id="search-player">Search</button>
    </span>
    <nav>
        <a href="">Donate</a>
        <a href="">About</a>
    </nav>
</header>
