<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head') -%>
    </head>
    <body>
        <%- include('header', params) -%>
        <main>
            <div class="player-header">
                <div class="wrapper">
                    <div class="user-battles-played">
                        <div>
                            <span>10.000</span>
                            <h2>Battles played</h2>
                        </div>
                    </div>
                    <div class="user-avg-damages">
                        <div>
                            <span>800</span>
                            <h2>Average damages</h2>
                        </div>
                    </div>
                    <div class="user-avg-kills">
                        <div>
                            <span>1.05</span>
                            <h2>Kills per battle</h2>
                        </div>
                    </div>
                    <div class="user-avg-xp">
                        <div>
                            <span>1000</span>
                            <h2>Average xp earned</h2>
                        </div>
                    </div>
                    <div class="user-name">
                        <div>
                            <span>1100</span>
                            WN8
                            <h2>masque4550</h2>
                        </div>
                    </div>

                    <div class="user-avg-tier">
                        <div>
                            <span>7</span>
                            <h2>Average tanks tier</h2>
                        </div>
                    </div>

                    <div class="user-recent">
                        <div>
                            <span>1100</span>
                            <h2>Recent WN8 (last 24h)</h2>
                        </div>
                    </div>

                    <div class="user-recent-week">
                        <div>
                            <span>1100</span>
                            <h2>Recent WN8 (last week)</h2>
                        </div>
                    </div>

                    <div class="user-recent-month">
                        <div>
                            <span>1100</span>
                            <h2>Recent WN8 (last month)</h2>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('table') -%>
        </main>
        <%- include('footer', {script: "./"}) -%>
    </body>
</html>
