<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WOT wn8</title>
        <link rel="stylesheet" href="./icons/css/fontello.css" />
        <script
            data-ad-client="ca-pub-5042170222602861"
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
        ></script>
    </head>
    <body>
        <div class="app">
            <%- include("menu") -%>
            <main>
                <section class="section">
                    <div class="header">Search a player</div>
                    <div class="content">
                        <input
                            type="text"
                            id="search_bar"
                            placeholder="Nickname"
                        />
                        <button id="search">Rechercher</button>
                        <div id="main"></div>
                    </div>
                </section>

                <section class="section">
                    <div class="header">About the project</div>
                    <div class="content">
                        This project is an open source project that you can find
                        on
                        <a href="https://github.com/SimonLoir/wot-wn8">Github</a
                        >. It uses the World of Tanks API from wargaming to get
                        data about the players.
                    </div>
                </section>
            </main>
        </div>
        <script src="site.js"></script>
    </body>
</html>
