<header>
    <div id="app-menu">
        <div class="icon">
            <i class="icon-menu" id="menu"></i>
        </div>
    </div>
    <span id="app-title">Wn8 Master</span>
</header>
<section id="app-left-bar">
    <div class="item" id="go-home">
        <div class="icon"><i class="icon-home"></i></div>
        <span>Home page</span>
    </div>
    <div class="item">
        <div class="icon"><i class="icon-info"></i></div>
        <span>About</span>
    </div>
</section>
