<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <script>
            data = <%- JSON.stringify(params) %>;
        </script>
    </head>
    <body>
        <div class="app">
            <header>
                <div id="app-menu">
                    <div class="icon">
                        <i class="icon-menu" id="menu"></i>
                    </div>
                </div>
                <span id="app-title">Wn8 Master</span>
            </header>
            <section id="app-left-bar">
                <div class="item">
                    <div class="icon"><i class="icon-doc-text"></i></div>
                    <span>eee</span>
                </div>
            </section>
            <main>
                <div id="main"></div>
            </main>
        </div>
        <script src="stats.js"></script>
    </body>
</html>
