<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <link rel="stylesheet" href="../icons/css/fontello.css" />
        <script
            data-ad-client="ca-pub-5042170222602861"
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
        ></script>
        <script>
            data = <%- JSON.stringify(params) %>;
        </script>
    </head>
    <body>
        <div class="app">
            <%- include("menu") -%>
            <main>
                <div id="main"></div>
            </main>
        </div>
        <script src="../tanks.js"></script>
    </body>
</html>
